.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.languageChoice{
  background-color: orange;
}

.languageButton{
  background: orange;
  border:none;
  color:black;
  font-size: 1em;
  font-family:'Times New Roman', Times, serif;
  
}

.languageButton:hover{
  background: orange;
  border:none;
  color:black;
  font-size: 1em;
  font-family:'Times New Roman', Times, serif;
  
}

.pageTitle{
  font-size: 1.7em;
  font-family:'Times New Roman', Times, serif;
}

.pageHeader{
  font-size: 1.2em;
  font-family:'Times New Roman', Times, serif;
}
.pageHeaderItalics{
  font-size: 1.2em;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}

.pageList{
  font-size: 1.1em;
  font-family:'Times New Roman', Times, serif;
}
.pageBody{
  font-size: 1.1em;
  font-family:'Times New Roman', Times, serif;
}

.welcome{
  display: flex;
  font-family:'Times New Roman', Times, serif;
}

.siteBody{
  
  width: 85%;
  padding: 3%;
  text-align: left;
  overflow: auto;
}

.footer{
  font-size: .5em;
  font-family:'Times New Roman', Times, serif;
}
.sidebar{
  flex:1;
  align-items: flex-start;
  width: 250px;
  background-color:#00008B;
  font-family:'Times New Roman', Times, serif;
}
.headerContainer{
  display: flex;
  width: 100%;
  background-color: orange;
  color: darkred;
  font-family:'Times New Roman', Times, serif;
}
.name{
  text-align: left;
  padding:1%;
  background-color: orange;
  font-size: 1.3em;
  font-weight: 700;
  color: darkred;
  font-family:'Times New Roman', Times, serif;
}
.appheader{
  flex:4;
  font-family:'Times New Roman', Times, serif;
}

.gallery{
  margin-top: 1%;
  margin-right: 10px;
  float: right;
  text-align: right;
  width: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


